<div class="jumbotron">
  <div class="container">
    <h1>Welcome to MealSplit!</h1>
    <p>MealSplit allows you to easily split costs for a meal among friends. We have a list of restaurants with menu items and cost, so don't worry about the costs of your items, just remember what you ordered.</p>
    <p><%= link_to "Split a Meal >>", new_meal_path, class: "btn btn-primary btn-lg" %></p>
  </div>
</div>