<% if !participant.id.nil? %>
  <div>
    <span class="participant-email">
      <strong>
        <%#= "Payer:" if participant.payer == true %>
      </strong>
      <%= "#{participant.name} --" unless participant.name.nil? %>
      <%= participant.email %>
    </span>
    <span><%= link_to "They weren't there!", meal_participant_path(@meal, participant), method: :delete, data: {confirm: "Are you sure?"} %></span>
  </div>
<% end %>
