<!-- primary author: Vic -->
<% provide(:onload_js, "populate_restaurant_typeahead();") %>

<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <h1>Choose a restaurant</h1>

    <%= form_for(@meal, html: {role: "form", class: "form-group"}) do %>
      <div class="form-group">
        <%= text_field_tag :restaurant_name, nil, id: 'restaurant-name-input', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= submit_tag("Next >>", class: "btn btn-primary form-control") %>
      </div>
    <% end %>
  </div>
</div>