<% if !food_item.id.nil? %>
  <div>
    <%= food_item.name %> -- 
    <%= number_to_currency food_item.cost %> --
    <%= link_to "Remove item", "/restaurants/#{@restaurant.id}/destroy_food_item/#{food_item.id}", method: :delete, data: { confirm: "Are you sure you want to delete the item?" } %>
  </div>
<% end %>