// import original bootstrap
@import "bootstrap";

.food-item-name {
  width: 200px;
  display: inline-block;
}
.food-item-cost {
  width: 60px;
  display: inline-block;
}

// .action-button {
//   margin-top: 20px;
// }

input[type="text"] {
  width: 300px;
}

.participant-label {
  width: 150px;
}