// primary author: Ty
// import original bootstrap
@import "bootstrap";


.food-item-name {
  min-width: 200px;
  display: inline-block;
}

.food-item-cost {
  width: 60px;
  display: inline-block;
}

.participant-email {
  min-width: 300px; 
  display: inline-block;
}


.restaurant-name {
  min-width: 150px;
  display: inline-block;
}

.restaurant-city {
  min-width: 100px;
  display: inline-block;
}

.center {
  text-align: center;
}

/* meal summary page */
#meal-summary {
  padding: 10px;

  .participant-details {
    padding: 10px;
    margin: 10px;
    hr {
      margin: 2px;
    }
    .email {
      font-size: 150%;
    }
  }

  .item {
    width: 200px;
    display: inline-block; 
  }

  .cost {
    width: 60px;
    display: inline-block;
  }
}

/* make old bootstrap alerts work */
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

/* error explanation */
#error_explanation {
  @extend .alert-danger;
  h2 {
    font-size: 150%;
    text-align: center;
  }
}
